.modal {
  display: block !important;
}

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#makeup-img {
  width: 100%;
  height: auto;
  border: black solid 1px;
}

.makeup-class{
  height: 150px;
  width: auto;
  margin-left: 50%;
}

.line{
  border-right:pink solid 1px;
}

.container {
  margin-top: 20px;
}

.top-space {
  margin-top: 20px;
}
.bottom-space{
  margin-bottom:20px;
}
.right-space {
  margin-right: 10px;
}
.left-space{
  margin-left:10px;
}

.tags {
  border-radius: 20px;
  border: 2px solid #424b54;
  padding: 2px 10px;
  margin-right: 5px;
}

.features {
  margin: 10px 0px;
}

.product {
  border: 2px solid #B5838D;
  margin: 10px 0px;
  border-radius: 20px;
  padding: 10px;
  background-color: #fbf3ef;
}

.favorite{
  background-color: #fbf3ef;
  border: 2px solid pink;
}


.navbar{
  background-color:#f2a69f;
}

.btn-primary{
  background-color:#6D6875 !important;
  border-color: #6D6875 !important;
}

.btn-primary:hover{
  background-color:#b5838d !important;
  border-color: #b5838d !important;
}


.btn-warning{
  background-color: #FFCDB2 !important;
  border-color: #FFCDB2 !important;

}

.btn-danger{
  background-color: #E5989B !important;
  border-color: #FFB4A2 !important;

}

